.navbar {
  width: 100%;
  background-color: #191414;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  gap: 30px; /* Espacio entre los enlaces */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #1DB954; /* Verde Spotify */
}