.tier-row {
  display: flex;
  margin: 5px 0;
  min-height: 80px;
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  overflow: hidden;
}

.tier-label {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  border: 2px solid black;
  flex-shrink: 0;
}

.tier-content {
  flex-grow: 1;
  background-color: #404652;
  border: 2px solid black;
  border-left: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; /* Permite que los items pasen a la siguiente línea */
  gap: 10px; /* Espacio entre items */
}

.track-item {
  background-color: #282c34;
  color: white;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  cursor: grab; /* Indica que se puede arrastrar */
}