.tracks-bank-container {
  width: 100%;
  margin-top: 20px;
}
.tracks-bank-list {
  background-color: #1f2229;
  border: 1px solid #535a68;
  border-radius: 8px;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}